
.space{
    
    background-color: 
    rgb(0, 0, 139);
    opacity: 2px black;
    height: 200px; 
    width: 100%;
    height: 150vh;
    color: white;
    text-align: center;
    margin-top: -4%;
  

}
.space h1{
font-size: 3.5rem;
width: 70%;
margin-left: 10%;
}
.contain{
width: 70%;
height: 80vh;
background-color: black;
margin-left: 13%;
}
.contain p{
text-align: center;
padding-top: 20px;
}
.contain h1{
margin-top: 10rem;
margin-right: 80px;
}
.space button{
margin-top: 20px;
padding: 20px;
width: 15rem;
background-color: rgb(25, 200, 91);
color: rgb(255, 255, 255);
border: rgb(25, 200, 91);
border-radius: 6px;

box-shadow: .3rem 0rem .3rem black;
}

.system h1{
margin-top: 5rem;
font-weight: 30rem;
font-size: 3rem;
width: 70%;
justify-content: center;
margin-left: 17%; 
 text-align: center;
}
.system p{
display: block;
width: 88%;
text-align: center;
margin-left: 5%;
font-size: 1.3rem;
}
.build{
background-color: rgb(255, 20, 141);
color: white;
margin: 2px;
}

.build h1{
text-align: center;
padding: 40px  50px;
font-size: 3rem;
word-spacing: 2px;
}
.build p{
text-align: center;
margin-left: 5%;
font-size: 1.5rem;
word-spacing: 2px;
}
.first{
/* max-width: 100%; */
margin: 6rem;
justify-content: space-between;
display: flex;
align-items: center;
}

.first-1{
    background-color: rgb(179, 145, 145);
    margin: 10px;
    border-radius: 15%;
}

.first-2 {
   background-color: rgb(179, 145, 145);
    margin: 10px;
    border-radius: 15%;
}

.first-3 {
   background-color: rgb(179, 145, 145);
    margin: 10px;
    border-radius: 15%;
}

.offer-conatiner {
    display: flex;
    flex-direction: column;
}

.offer {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

 .offer-detail {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-auto-rows: 200px;
  gap: 1rem;

  padding: 9rem 9rem ;
  }
  
  .offer-details-screen{
    margin: 20px 0;
  }
  
  
  
  .footer {
    background-color: black;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
  }
  
  .footer-container div {
    margin-bottom: 20px;
    font-size: 15px;
  }
  























