.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    margin-left: 20px;
  }
  
  .navbar-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }


  .banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .banner-text {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: right;
    float: right;
  }