.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    margin-left: 20px;
  }
  
  .navbar-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }